{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Perfil</h2>
<div>
    <p>Los detalles de tu cuenta son los siguientes:</p>
    <table>
        <tr>
            <td>Full name:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Charge:</td>
            <td>{{ account['charge'] }}</td>
        </tr>
        <tr>
            <td>Code:</td>
            <td>{{ account['code'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}